@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto', sans-serif;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.title {
	font-size: 80px;
	font-weight: 400;
}

.title-color {
	color: #4bcaff;
	font-weight: 400;
}

.navbar {
	display: flex;
	background-color: #35444f;
	justify-content: center;
}

.navbar-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-item {
	font-size: 24px;
	font-weight: 400;
	border-left: 1px white solid;
	background-color: #35444f;
	padding: 20px 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-item:last-child {
	border-right: 1px white solid;
}

.navbar-link {
	color: #fff;
}

.navbar-item:hover {
	background-color: #222f3a;
}

.page {
	margin-top: 50px;
}

.aside {
	width: 100%;
	max-width: 340px;
	border: 1px solid #000;
	display: flex;
}

.aside-menu {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.aside-item {
	font-size: 30px;

	font-weight: 400;
	color: #35444f;
	padding: 20px 40px;
	display: flex;
}

.aside-item:hover {
	background-color: #dbdbdb;
	color: #180707;
	display: flex;
	justify-content: center;
}

.aside-link {
	color: inherit;
}

.page {
	display: flex;
	align-items: flex-start;
	gap: 50px;
}

.section {
	flex: 1;
}

.block-image {
	text-align: center;
	border: black solid 1px;
	padding: 70px 0;
}

.section-info {
	margin-top: 10px;
	color: #2c2c2c;
	line-height: 24px;

	font-size: 18px;
	font-style: normal;
	font-weight: 400;
}

.footer-navbar {
	display: flex;
	background: rgba(99, 105, 110, 0.48);
}

.footer-list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	justify-content: space-between;
	padding: 0px 40px 0px 40px;
}

.footer-item {
	font-size: 24px;
	text-align: center;

	font-weight: 400;

	padding: 20px 0px;
	display: flex;
	align-items: center;
	justify-content: start;
	justify-content: space-between;
}

.footer-link {
	color: black;
}

.footer-link:hover {
	color: #3181a6;
	text-decoration: underline;
}
